.card-title {
  margin-left: 170px;
  font-size: 50px;
}

.card-overlay {
  display: flex;
}

.card-body {
  margin-right: 60px;
}

.card-text {
  font-weight: 700;
  font-size: 25px;
}

.card-text__item {
  font-weight: 400;
}

.card-img {
  outline: 1px solid grey;
}
